/* custom font */
@font-face {
    font-family: "Cinzel";
    src: url("../fonts/Cinzel-VariableFont_wght.ttf") format("truetype");
}

@font-face {
    font-family: "Lexend Deca";
    src: url("../fonts/LexendDeca-VariableFont_wght.ttf") format("truetype");
}

/* page styling */
body {
    background-color: #1a1a1a;
    color: #e6e6e6;
    font-family: "Lexend Deca";
    line-height: 1.6;
    margin-left: 240px;
    margin-right: 100px;
    padding: 20px;
}

/* background image */
body::before {
    content: "";
    position: fixed;
    inset: 0;
    background: url("../img/background.jpg") center / cover no-repeat;
    opacity: 0.2;
    z-index: -1;
}

h1 {
    font-family: "Cinzel";
    color: #d4af37;
    margin-top: 25px;
    border-bottom: 2px solid #d4af37;
    padding-bottom: 5px;
}

h2, h3 {
    color: #d4af37;
    margin-top: 25px;
}

p {
    font-size: 20px;
    margin: 10px 0;
}

a {
    color: #d4af37;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

img {
    display: block;
    margin: 10px 0 20px;
    max-width: 100%;
    border: 2px solid #d4af37;
    border-radius: 4px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    background-color: #1a1a1a;
}

th, td {
    border: 1px solid #d4af37;
    padding: 10px;
    text-align: center;
}

/* Center table images */
td img {
    display: block;
    margin: 0 auto;
}

th {
    background-color: #262626;
    color: #d4af37;
}

code {
    background-color: #1f1f1f;
    color: #d4af37;
    padding: 2px 5px;
    border-radius: 3px;
}

ul li {
    font-size: 18px;
    padding-left: 20px;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 220px;
    height: 100vh;
    background: rgba(0, 0, 0, 0.2);
    padding-top: 20px;
    border: 2px solid #d4af37;
    display: flex;
    flex-direction: column;
    z-index: 10;
}

.sidebar a {
    padding: 10px 20px;
}

.sidebar h3 {
    border-bottom: 2px solid #d4af37;
    padding-bottom: 4px;
}

/* back to top button */
a.top {
    display: block;
    width: fit-content;
    margin-left: auto;
    margin-top: 30px;
    padding: 10px 18px;
    background: rgba(0, 0, 0, 0.4);
    color: #d4af37;
    font-family: "Lexend Deca";
    font-size: 16px;
    border: 2px solid #d4af37;
    border-radius: 6px;
    text-decoration: none;
    transition: 0.3s;
}

/* button hover */
a.top:hover {
    background-color: #d4af37;
    color: #1a1a1a;
    text-decoration: none;
    box-shadow: 0 0 10px rgba(212, 175, 55, 0.6);
}
